@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

div .title {
    margin: 20px;    
    font: 14px 'Nunito', sans-serif;
}

div .certifications {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 20px;
    padding: 10px;
    background-color: #202024;
    border-radius: 13px;
}

div .certifications .certifi {    
    width: 200px;
    height: 200px;
    margin: 10px;
}

@media(max-width: 700px) {
    div .certifications {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    div .certifications .certifi {
        width: 80px;
        height: 80px;
    }
}