header .container {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    /* background: #202024; */
    height: 70px;
}

img .logo-page {
    max-height: 15px;
    margin-left: 10px;
    width: 435px;
    height: 191px;
    overflow: hidden;
}

header nav a {
    text-decoration: none;
    margin: 12px;
    color: #ffffff;
    font-size: 16px;
}

header nav a:hover {
    color: #aaaaaa;
}

@media(max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 0;
        height: 90px;
    }
}