@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.curriculum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    color: #202024;
    /* padding: 20px; */
}

.container-one {
    background-color: #A1A8AB;
    color: #ffffff;
    width: 500px;    
}

.container-one, .container-two {
    padding: 15px;
}

.photo-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.curriculum h2 {
    font: 25px 'Staatliches';
}

.curriculum h4 {
    font: bold 16px 'Nunito';
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* margin-bottom: 20px; */
}

.presentation h1 {
    font: bold 30px 'Archivo';
}

.presentation h3 {
    font: italic 22px 'Poiret One';
}

.profile, .contact, .languages,
.personal-skills, .extracurricular, .certificacoes {
    margin-top: 20px;
}

.profile p {
    margin-bottom: 10px;
    text-align: justify;
}

.level-language {
    display: flex;
    flex-direction: row;
    text-align: center;
    /* justify-content: space-between; */
    /* margin: 10px; */
}

.level-language img {
    margin: 5px;
    width: 40px;
    height: 40px;
}

.basico, .intermediario, .nativo-fluente {
    /* background-color: #dddcdc; */
    padding: 5px;
    width: 140px;
    height: auto;
    border: #ffffff solid 1px;
    border-radius: 13px;
    margin-right: 10px; /* quando tiver o nível intermediário, retirar este margin */
}

.licenca, .licenca-last {
    /* background-color: #dddcdc; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: #ffffff solid 1px;
}

.licenca-last {
    border-bottom: none;
}

.licenca img, .licenca-last img {
    margin: 5px;
    width: 64px;
    height: 64px;
}

.descricao-licenca {
    margin-left: 15px;
}

.descricao-licenca span {
    display: flex;
    flex-direction: row;
}

.descricao-licenca a {
    display: flex;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
}

@media(max-width: 700px) {
    .curriculum {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        color: #202024;
    }
    
    .container-one {
        width: 100vw;
    }

    .photo-profile {
        width: 250px;
        height: 250px;
    }
}