.licensed, .licensed-last {
    /* background-color: #dddcdc; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: #dddcdc solid 1px;
}

.licensed img, .licensed-last img {
    margin: 5px;
    width: 64px;
    height: 64px;
}

.licensed-last {
    border-bottom: none;
}

.description-licensed {
    margin-left: 15px;
}

.description-licensed span {
    display: flex;
    flex-direction: row;
}

.description-licensed a {
    display: flex;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}