.education {
    margin-top: 20px;
}

.local-education, .local-last {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #dddcdc solid 1px;
}

.local-last {
    border-bottom: none;
}