.work, .work-last {
    margin-top: 10px;
    border-bottom: #dddcdc solid 1px;
    padding-bottom: 10px;
}

.work-last {
    border-bottom: none;
}

/* .work p {
    text-align: justify;
} */

.time-work {
    margin-bottom: 5px;
}

.time-work span {
    display: flex;
    flex-direction: row;
    color: #aaaaaa;
}